header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background-color: var(--bg-secondary);

  span {
    font-size: 1.7rem;
    font-weight: bold;
  }

  nav a {
    transition: all 0.4s;
    font-size: 1.1rem;
  }

  nav a:first-child {
    margin-right: 1rem;
  }

  nav a:hover {
    color: var(--green);
  }
}
