.Container {
  position: relative;
  padding: 2rem 0;
  color: var(--gray);

  @media (max-width: 600px) {
    padding-top: 2rem;
  }

  h2 {
    margin: 0 0 1rem 1rem;
    font-weight: bold;
    color: var(--white);
  }
  .ArrowLeft {
    position: absolute;
    top: 120px;
    cursor: pointer;
    opacity: 0.5;
    padding: 3rem 1rem;
    background-color: rgba(0, 0, 0, 0.27);
    color: var(--white);

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    @media (max-width: 600px) {
      top: 125px;
      padding: 1rem 0.5rem;
    }
  }

  .ArrowRight {
    position: absolute;
    top: 120px;
    right: 0;
    opacity: 0.5;
    cursor: pointer;
    padding: 3rem 1rem;
    background-color: rgba(0, 0, 0, 0.27);
    color: var(--white);

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    @media (max-width: 600px) {
      top: 125px;
      padding: 1rem 0.5rem;
    }
  }

  .Carousel {
    display: flex;
    gap: 0.3rem;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  img {
    width: 200px;
    border: 3px solid transparent;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
      border: 3px solid var(--green);
    }

    @media (max-width: 600px) {
      width: 150px;
    }
  }
}

.Carousel::-webkit-scrollbar {
  display: none;
}
