footer {
  background-color: var(--bg-secondary);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .Nome {
    color: var(--green);
    font-weight: bold;
  }

  .Icons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5em;

    svg {
      transition: all 0.3s;
      cursor: pointer;
    }

    svg:hover {
      color: var(--green);
    }
  }
}
